<configuration>

    <invalidTag />

    <!-- Appender 1: General logs -->
    <appender name="FILE_GENERAL" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/general.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/general.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>

    </appender>

    <!-- Appender 2: Error logs -->
    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/error.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>

    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="FILE_GENERAL" />
        <appender-ref ref="FILE_ERROR" />
    </root>

</configuration>